.banner-section {
    background-image: url('../../assets/backgrounds/elegant-men-suit-jacket-with-zip.jpg'); 
    
  }

 .white-text-shadow{
text-shadow: 0 0 50px hsla(0, 0%, 100%, 0.932);
}

.black-text-shadow{
  text-shadow: 0 0 40px hsl(0, 0%, 0%);
}